@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

/*refactor class="uppercase" to an attribute here, since all a's are uppercase now */
a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

.hero {
  background: url('https://res.cloudinary.com/tech-stories/image/upload/v1562809014/Screen_Shot_2019-07-10_at_9.36.17_PM_mvnxgg.png') center;
  background-size: cover;
  /*background-color: skyblue;*/
  padding: 1rem;
  border: 2px solid gray;
  border-radius: .45rem;
  margin: 1rem;
  /* grid styles */
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.hero > * {
  color: black;
}

#cover-image {
  padding: 2rem;
  padding-bottom: 0;
}

#description  {
  padding: 2rem;
  font-size: 1.4rem;
}

.hero > article > p {
  margin-left: 2rem;
}
/*
.hero > p {
  /*font-size: 36px;*/
/*  padding-bottom: 1rem;
  font-weight: bold;*/
/*}*/

/*.hero > article > h1 {
  font-size: 2rem;
}*/

/*.hero > article > h2 {
  padding-left: 2rem;
}*/
.hero > article > h2 > span {
  font-weight: 900;
  font-style: italic;
}

.hero > article > a {
  padding: 1rem;
  margin: .75rem;
  margin-left: 0;
  font-size: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}

/* CARDS */

.cards {
  padding: 1rem;
  margin: 1rem;
/*  width: 100%;*/
}

.cards > ul {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  list-style: none;
}

.cards > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.cards > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.cards > ul > li > figure > img {
  width: 100%;
}

.cards > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 40%;
}

/*change color, accessibility esp in teachers & parents */
.cards > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.75rem;
/*change: take away space on bototm, so it sits slightly lower */
}

/*/change font size */
.cards > ul > li > p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem 2rem;
  color: #666666;
}

.cards > ul > li > a {
  padding: 1rem 2rem; 
  margin: 2rem;
}

.no-link-background {
  color: black;
  background-color: white;
}

/* FOOTER */
footer {
  background: url('https://res.cloudinary.com/tech-stories/image/upload/v1562809014/Screen_Shot_2019-07-10_at_9.36.17_PM_mvnxgg.png') center;
  background-size: cover;
  color:  black;
 /* padding: .75rem;*/
  text-align: left;
/*  font-size: 1rem;*/
  /*width: 100%;*/
  padding: 1rem;
  border: 2px solid gray;
  border-radius: .45rem;
  margin: 1rem;
  /*#grid*/
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 1.5rem;
  align-items: center;
  justify-items: center;
}


footer > p {
  font-size: 1.5rem;
}

footer > section > p > a {
  color: black;
  /*background-color: #5DBCD2;*/
  background-color: transparent;
  font-family: 'Playfair Display', serif;
}

footer > section > p > a:hover {
  font-weight: bolder;
}

/*MEDIA QUERIES */
@media screen and (max-width: 830px) {
  .hero {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  .hero > article {
    padding: 0 5rem;
  }

  .hero > article > a {
    padding: 1rem;
    margin: .75rem 0;
    font-size: 1.5rem;
  }
}
/*  with new auto setting, 830px is when it should get smaller, and go to */
@media screen and (max-width: 545px) { 
  .item {
    text-align: center;
  }
  .cards {
    padding: 0;
  }
  .cards > ul > li > figure > figcaption > h3 {
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  .cards > ul > li > p {
    font-size: 1.5rem;
    line-height: 1.5;
    /*padding: 1rem;*/
    color: black
  }
  .hero {
  /*  background: none;*/
    border-radius: .45rem;
  }

  .hero > article {
    padding: 0;
  }
  .hero > article > h2 {
    /*padding-left: .5rem;*/
  }
}

@media screen and (max-width: 415px) {
  .hero {
    margin: none;
  }

  .hero > img {
    align-items: center;
    margin-bottom: .5rem;
    width: 100px;
  }

  .hero > article > a {
    padding: 1rem;
    margin-top: .75rem;
    margin-left: .25rem;
    font-size: 1.5rem;
  }


}

@media screen and (max-width: 380px) {
  .hero {
    margin: 0;
  }
  #description {
    padding: 0;
  }
  .cards {
    padding: 0;
  }
  p {
      padding: 1rem 0;
  }
  ul {
    padding: 1rem 0;
  
  align-items: center;
  justify-items: center;
}
 /* .hero > #bookcover > img{
    margin-left: 10%;
    height: 30%;
  }*/
 
}
/*for mobile, make the overlay to each card smaller, and maybe make the text color darker 