@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: bolder;
  font-size: 24px;
}

a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}
/*not working, figure out why*/

/* Styles for the hero image */
.hero {
  /* Photo by  */
  background: url('https://res.cloudinary.com/tech-stories/image/upload/v1562809014/Screen_Shot_2019-07-10_at_9.36.17_PM_mvnxgg.png') center;
  background-size: cover;
  padding: 4rem 2rem;
  border: 1px solid gray;
  margin: 2rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
}

.hero > * {
  color: black;

}

/*move .hero > img {} here for the size */
.hero > #bookcover {
  height: 100%;
}

.hero > h1 {
  font-size: 4rem;
  padding-bottom: 1rem;
  font-weight: bold;
}


.hero > article {
 margin-left: 3rem;
}

.hero > article > p {
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
}

.hero > article > p > span {
  font-weight: 700;
  font-style: italic;
}
/*
.hero > #description > p {
  font-weight: 700;
  padding-left: 1em;
}*/
.hero > article > a {
  padding: 1rem;
  margin-top: .75rem;
  margin-left: 7rem;
  font-size: 1.5rem;
}

/* CARDS */
.cards {
  padding: 2rem;
}

.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  list-style: none;
}

.cards > ul > li {
  border: 1px solid #E2E2E2;
  border-radius: .5rem;
}

.cards > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.cards > ul > li > figure > img {
  width: 100%;
}

.cards > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 40%;
}

.cards > ul > li > figure > figcaption > h3 {
  color: white;
  padding: .75rem;
  font-size: 1.25rem;
/*change: take away space on bototm, so it sits slightly lower */
}

.cards > ul > li > p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 1rem .75rem;
  color: #666666;
}

.cards > ul > li > a {
  padding: .5rem 1rem;
  margin: .5rem;
}

.no-link-background {
  color: black;
  background-color: white;
}

/* footer */
footer {
  /*background-color: #333;*/
  background-color: #5DBCD2;
  color:  black;
  padding: .75rem;
  text-align: center;
  font-size: .75rem;
}

footer > p > a {
  color: black;
  background-color: #5DBCD2;
}

/*MEDIA QUERIES */
/* newer formatting: width <= 910px*/
@media screen and (max-width: 910px) {
  .hero {
    grid-template-columns: 1;
  /*  grid-template-rows: auto;*/
    grid-gap: 1rem;
  /*  background: none;*/
    /*background-color: skyblue;*/
    border: 4px solid gray;
  }
  .hero > #bookcover {
    height: 88%;
  }  
}

@media screen and (max-width: 810px) {
  .hero {
    display: block;
    /*background-color: skyblue;*/

  }
  .hero > #bookcover {
    height: 55%;
    margin-bottom: 10%;
    /*align-content: center;*/
  } 
}

@media screen and (max-width: 545px) {
  .hero > #bookcover {
      height: 50%;
  }
  .hero {
    margin-right: 1px;
  }
}

@media screen and (max-width: 415px) {
  .hero {
    margin: none;
    border: none;
  }
  .hero > #bookcover {
      height: 38%;
  }
  .hero > article > a {
    padding: 1rem;
    margin-top: .75rem;
    margin-left: .25rem;
    font-size: 1.5rem;
}
}
/*for mobile, make the overlay to each card smaller, and maybe make the text color darker */