@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

a {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*refactor class="uppercase" to an attribute here, since all a's are uppercase now */
a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

.hero {
  background: url('https://res.cloudinary.com/tech-stories/image/upload/v1562809014/Screen_Shot_2019-07-10_at_9.36.17_PM_mvnxgg.png') center;
  background-size: cover;
  padding: 1rem;
  border: 4px solid #2898C6  ;
  border-radius: .45rem;
  margin: 1rem;
  /* grid styles */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
}

.hero > * {
  color: black;
}

#cover-image {
  padding: 2rem;
  padding-bottom: 0;
}

#description  {
  padding: 2rem;
  font-size: 1.4rem;
}

.hero > article > p {
  margin-left: 2rem;
  font-size: 1.5rem;
}

.hero > article > h2 > span {
  font-weight: 900;
  font-style: italic;
}

.hero > article > a {
  padding: 1rem;
  margin: .75rem;
  margin-left: 0;
  font-size: 1.5rem;
}
.uppercase {
  text-transform: uppercase;
}

/* CARDS */

.cards {
  padding: 1rem;
  margin: 1rem;
/*  width: 100%;*/
}

.cards > ul {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  text-align: center;
}

.cards > ul > li {
  border: 4px solid #2898C6  ;
  /*#aba7a7;*/
  border-radius: .5rem;
}

/*change here */
.cards > ul > li > figure {
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
  margin-bottom: .5rem;
}

.cards > ul > li > figure > img {
  width: 100%;
}

.cards > ul > li > figure > figcaption {
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  width: 100%;
  height: 40%;
  display: none;
}

/*change color, accessibility esp in teachers & parents */
.cards > ul > li > figure > figcaption > h3 {
  color: white;
  /*padding: .75rem;*/
  /*  margin-bottom: 1rem;*/
  font-size: 1.75rem;
  display: none;

/*change: take away space on bototm, so it sits slightly lower */
}
.cards > ul > li > figure > figcaption > h3 > .too-light {
  color: black;
}

.cards > ul > li > p {
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 1rem 2rem;
  color: #666666;
}

/*changed margin fro 1rem to 0 for the top, added background color to change from goldenrod*/
.cards > ul > li > a {
  padding: 1rem 2rem; 
  margin: 0 2rem;
  font-size: 1.5rem;
  background-color: skyblue;
  
}

.no-link-background {
  color: black;
  background-color: white;
}

.too-light {
  color: black;
}

/* FOOTER */
footer {
  background: url('https://res.cloudinary.com/tech-stories/image/upload/v1562809014/Screen_Shot_2019-07-10_at_9.36.17_PM_mvnxgg.png') center;
  background-size: cover;
  color:  black;
  text-align: left;
  padding: 1rem;
  border: 4px solid #2898C6;
  border-radius: .45rem;
  margin: 1rem;
  /*#grid*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
  justify-items: center;
  text-align: center;
}


footer > section > p {
  font-size: 1.5rem;
}

footer > section > p > a {
  color: black;
  /*background-color: #5DBCD2;*/
  background-color: transparent;
  font-family: 'Playfair Display', serif;
}

footer > section > p > a:hover {
  font-weight: bolder;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 760px) {
    body {
      display: grid;
      grid-template-columns: 100%;
      align-items: center;
      grid-template-rows: 400px auto;
    }
   

  .hero {
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .cards {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    display: grid;
    grid-template-columns: 100%;
  }
}